<form action="/Product/SaveProduct">
    <div><label>Id</label><input name="Id" type="text"/></div>
    <div><label>ProductName</label><input name="ProductName" type="text" /></div>
    <div><label>ProductLabel</label><input name="ProductLabel" type="text" /></div>
    <div><label>StartingInventory</label><input name="StartingInventory" type="text" /></div>
    <div><label>InventoryReceived</label><input name="InventoryReceived" type="text" /></div>
    <div><label>Inventoryshipped</label><input name="Inventoryshipped" type="text" /></div>
    <div><label>InventoryOnHand</label><input name="InventoryOnHand" type="text" /></div>
    <div><label>MinimumRequired</label><input name="MinimumRequired" type="text" /></div>
    <div><input type="submit" value="SaveProduct"></div>







</form>