<form action="/Suppliers/Savesuppliers">
    <div><label>Id</label><input name="Id" type="text" /></div>
    <div>
        <label>Supplier_Name</label>
        <input name="Supplier_Name" type="text">
    </div>
    <div><input type="submit" value="Savesuppliers" /></div>
    
</form>