<form action="/Suppliers/Update">
    <div><label>Id</label><input name="Id" type="text" value="@Model.Id" /></div>
    <div><label>Supplier_Name</label><input name="Supplier_Name" type="text" value="@Model.Supplier_Name" /></div>
<div><input type="submit" value="Update"/></div>
</form>